* {
    margin : 0;
    padding: 100;
}

body{
    background-color: #2f3136;
}

.news-container {
    margin-top: 100px; /* Altezza della navbar */
}

.news-title {
    text-align: center;
}

.news-desc {
    text-align: center;
}